:root {
  --var-1p-color: #495e57;
  --var-2p-color: #f4ce14;
  --var-1s-color: #ee9972;
  --var-2s-color: #fbdabb;
  --var-2h-color: #edefee;
  --var-1h-color: #333333;
  --board-radius: 16px;
  --subtitle: 40px;
  --meduimFont: 18px;
  --pargraph: 16px;
  --margin: 10px 200px;
  --padding: 15px 5px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: var(--pargraph);
  line-height: 1.5;
  max-width: 30ch;
}

nav {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
  height: 90px;
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
a {
  text-decoration: none;
  color: var(--var-1h-color);
  font-weight: bold;
  transition: 0.4s;
}
a:hover {
  color: var(--var-2p-color);
}
.Hero {
  background: var(--var-1p-color);
}
.Hero div {
  margin: var(--margin);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Hero div h1 {
  font-size: var(--subtitle);
  font-weight: bold;
  color: var(--var-2p-color);
  margin: 0;
}
.Hero div h2 {
  font-size: var(--meduimFont);
  color: var(--var-2h-color);
  margin: 0;
}

.Hero div p {
  color: var(--var-2h-color);
  margin: 0;
}

button {
  background-color: var(--var-2p-color);
  color: var(--var-1h-color);
  border: none;
  border-radius: var(--board-radius);
  width: 150px;
  height: 35px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  color: var(--var-2p-color);
  background-color: var(--var-1h-color);
}
.cta {
  position: relative;
  margin-bottom: 30px;
}
.cta img {
  position: absolute;
  right: 200px;
  top: 20px;
  border-radius: var(--board-radius);
}
.sec {
  margin: var(--margin);
}
.sec .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading h1 {
  font-size: var(--subtitle);
  font-weight: bold;
}
.dishes {
  display: flex;
  justify-content: space-around;
  justify-items: center;
}
.card {
  width: 300px;
  background-color: var(--var-2h-color);
  display: flex;
  flex-direction: column;
  gap: 35px;
  border-radius: var(--board-radius);
  box-shadow: 3px 4px 5px #ddd;
}
.card img {
  width: 100%;
  height: 200px;
}
.card .title {
  display: flex;
  justify-content: space-s;
  justify-items: center;

  margin: 0 15px;
}
.card p {
  margin: 0 15px;
  color: var(--var-1p-color);
}
.card .title h1,
h6 {
  margin: 0;
  color: var(--var-1h-color);
}
.online {
  margin: 0px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.online img {
  height: 20px;
  width: 20px;
  transform: scaleX(-1);
}
.parg {
  height: 130px;
}
.online {
  margin-bottom: 20px;
}
.title p {
  color: var(--var-1s-color);
}
.form {
  display: grid;
  max-width: 200px;
  gap: 20px;
  border: 1px solid var(--var-1h-color);
  width: 400px;
  padding: 15px;
  border-top-right-radius: var(--board-radius);
  border-bottom-right-radius: var(--board-radius);
  height: 470px;
}
.formContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--var-2h-color);
}
.ChicagoContainer {
  position: relative;
  background-image: url("./icons_assets/restaurant.jpeg");
  height: 500px;
  background-size: cover;
  width: 300px;
  border-top-left-radius: var(--board-radius);
  border-bottom-left-radius: var(--board-radius);
}
.Chicago {
  background-color: var(--var-2h-color);
  height: 500px;
  opacity: 0.5;
}
.ChicagoContainer .details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--var-1p-color);
}
.form form div {
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form form p {
  color: red;
  font-size: 14px;
  margin: 0;
}
.succes {
  position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #d5d5d5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.succes p {
  text-align: center;
  margin: 0 auto;
  color: #495e57;
}
.succes h1 {
  color: var(--var-1h-color);
}

.footer {
  margin-top: 100px;
  background-color: var(--var-2h-color);
  padding: 50px 0;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.footer__section {
  margin-right: 20px;
}

.footer__heading {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--var-1h-color);
}

.footer__social-icons {
  display: flex;
}

.footer__social-icon {
  margin-right: 10px;
  font-size: 24px;
  color: var(--var-1h-color);
  text-decoration: none;
}

.footer__social-icon:hover {
  color: #007bff;
}

.footer__copyright {
  text-align: center;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--var-1p-color);
  display: flex;
  justify-content: center;
}
.footer p {
  color: var(--var-1p-color);
}
.footer .footer__copyright p {
  max-width: fit-content;
}
.backHome {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 30px;
  width: 30px;
  background: var(--var-2h-color);
  text-align: center;
  border-radius: var(--board-radius);
  line-height: 1.7;
  color: var(--var-1h-color);
  transition: 0.4s;
}
.backHome:hover {
  background-color: var(--var-1h-color);
  color: var(--var-2h-color);
}
.sandwich {
  display: none;
}
.san {
  transition: 0.4s;
}
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#error-page h1 {
  font-size: 3rem;
  color: #dc3545;
  margin-bottom: 20px;
}

#error-page p {
  font-size: 1.2rem;
  text-align: center;
  color: #6c757d;
  margin-bottom: 10px;
}

#error-page i {
  color: #6c757d;
  font-style: italic;
}
/*small devices*/
@media (max-width: 576px) {
  .nav {
    display: none;
  }
  .sandwich {
    display: block;
    width: 40px;
    height: 40px;
  }

  .san {
    display: block;
  }
}
/* Medium devices */
@media (max-width: 768px) {
  .Hero div {
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .cta img {
    display: none;
  }
  .sec {
    margin: 0;
  }
  .dishes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .footer__container {
    display: block;
    padding-left: 50px;
  }
}
/* Large devices  */
@media (max-width: 992px) {
  .Hero div {
    margin: 0;
    padding: 20px;
  }
  .cta img {
    right: 20px;
  }
  .sec {
    padding: 20px;
    margin: 0;
  }
  .dishes {
    gap: 15px;
  }
  .card {
    width: 250px;
  }
}
